<!-- <div class="row">
    <div class="col-sm-6">
        <h3>
            Listado de vehículos 
        </h3>
    </div>
    <div class="col-sm-6">
        <div class="float-right">
            <a routerLink="/vehicle/create" class="btn btn-primary">Cargar nuevo vehiculo</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card ctn-table">
        <div class="card-header">
            <div class="float-left">
            </div>
            <div *ngIf="results" class="float-right text-total-list"> Total registros:
                <strong>{{ results.totalItems }} </strong>
            </div>
        </div>
        <div class="card-body animated fadeIn">
            <a
            #urlFileDownload
            *ngIf="fileUrl != undefined"
            id="downloadFile"
            [href]="fileUrl"
            download="{{fileName}}"
          ></a>
            <p-table #empleadoTable [columns]="cols" [value]="results.list" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" selectionMode="single" dataKey="identificationCard" sortMode="multiple" [lazy]="true" (onLazyLoad)="loadLazy($event)">
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns.length + 1">
                            No se encontraron registros
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>Acciones

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            <div *ngIf="col.field!=='state' ">
                                {{rowData[col.field]}}
                            </div>
                        </td>
                        <td>
                            <button pButton pTooltip="Descargar archivo" tooltipPosition="top" icon="fa fa-download" class="ui-button-primary" (click)="getFile(rowData)" ></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div> -->

<p-dataView #dv [value]="results.list" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="LicencePlate"
    [sortField]="sortField" [sortOrder]="sortOrder">

    <p-header>
        <div class="ui-helper-clearfix">

            <div class="ui-g">
                <div class="ui-g-12 ui-md-3">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="ui-g-6 ui-md-3 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Search by LicencePlate" (keyup)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" label="Agregar un véhiculo" routerLink="/vehicle/create"  icon="pi pi-plus"></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" label="Cargar archivo" icon="pi pi-upload" routerLink="/vehicle/create-file" class="ui-button-success"></button>    
                </div>
                <div class="ui-g-6 ui-md-2" style="text-align:right">
                
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-vehicle pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
                <img class="img-fluid" width="200px" height="120px" src="https://localhost:44320/Files/imgs/{{vehicle.image}}">
            </div>
            <div class="ui-g-12 ui-md-8 car-details">
                <div class="ui-g">
                    <div class="ui-g-2 ui-sm-6">Placa: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{vehicle.licencePlate}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Modelo: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{vehicle.model}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Identificación Dueño: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{vehicle.idVehicleOwner}}</b></div>

                    <div class="ui-g-2 ui-sm-6">Fecha: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{vehicle.dateEdit}}</b></div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-1 search-icon">
                <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, vehicle)"></button>
            </div>
        </div>
    </ng-template>
    <ng-template let-vehicle pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-3">
            <p-panel [header]="vehicle.vin" [style]="{'text-align':'center'}">
                <img class="img-fluid" width="200px" height="120px" src="https://localhost:44320/Files/imgs/{{vehicle.image}}" width="60">
                <div class="vehicle-detail">{{vehicle.licencePlate}} - {{vehicle.model}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, vehicle)" style="margin-top:0"></button>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '225px'}"  (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedCar">
        <div class="ui-g-12" style="text-align:center">
            <img class="img-fluid" src="https://localhost:44320/Files/imgs//{{selectedCar.image}}">
        </div>
        <div class="ui-g-4">Placa: </div>
        <div class="ui-g-8">{{selectedCar.licencePlate}}</div>

        <div class="ui-g-4">Modelo: </div>
        <div class="ui-g-8">{{selectedCar.model}}</div>

        <div class="ui-g-4">Identificación Dueño: </div>
        <div class="ui-g-8">{{selectedCar.idVehicleOwner}}</div>

        <div class="ui-g-4">Fecha: </div>
        <div class="ui-g-8">{{selectedCar.dateEdit}}</div>
    </div>
</p-dialog>