<div class="app flex-row align-items-center" [ng2-loading]="showSpinner">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <form [formGroup] = "form" (ngSubmit) = "onSubmit()">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>

                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="" class="text-muted">Correo:</label>
                                <input class="ng-p-input" pInputText type="text" formControlName="email" />
                                <!-- <p class="form-control-feedback" *ngIf="!form.controls['email'].valid&&form.controls['email'].dirty">Email es requerido</p> -->
                                <p class="form-control-feedback" *ngIf="form.controls['email'].errors&&form.controls['email'].dirty">Email no valido</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="" class="text-muted">Nombre de usuario:</label>
                                <input class="ng-p-input" pInputText type="text" formControlName="userName" />
                                <p class="form-control-feedback" *ngIf="!form.controls['userName'].valid&&form.controls['userName'].dirty">Nombre usuario es requerido</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="" class="text-muted">Password:</label>
                                <input class="ng-p-input" pInputText type="password" formControlName="password" />
                                <p class="form-control-feedback" *ngIf="form.controls['password'].errors&&form.controls['password'].dirty">Password minimo 6 caracteres</p>
                            </div>
                        </div>
                         <div class="col-md-12">
                            <div class=" form-group">
                                <label for="" class="text-muted">Nombre:</label>
                                <input class="ng-p-input" pInputText type="text" formControlName="firstName" />
                                <p class="form-control-feedback" *ngIf="!form.controls['firstName'].valid&&form.controls['firstName'].dirty">Nombre es requerido</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class=" form-group">
                                <label for="" class="text-muted">Apellido:</label>

                                <input class="ng-p-input" pInputText type="text" formControlName="lastName" />
                                
                                <p class="form-control-feedback" *ngIf="!form.controls['lastName'].valid&&form.controls['lastName'].dirty">Apellido es requerido</p>
                            </div>
                        </div>
   

                        
                        <button type="submit" [disabled]="!form.valid" class="btn btn-block btn-success">Crear cuenta</button>

                        </form>
                    </div>
                    <div class="card-footer p-4">
                        <div class="row">
                            <div class="col-6">
                                <button class="btn btn-block btn-primary"  (click)="handleClick()" type="button"><span>Regresar al login</span></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>